* binary

*.cmd text eol=crlf diff
*.xml text eol=crlf diff
*.reg text eol=crlf diff
*.bat text eol=crlf diff
*.py text diff
*.c text diff
*.h text diff
*.sh text diff
*.txt text diff
*.md text diff
*.rst text diff
*.html text diff
*.gitattributes text diff
CHANGES text diff

